*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}

/* HEADER */

.header {
  background: url(../images/header/bg.jpg) top 10% center / cover no-repeat;
  height: 100vh;
}

.nav {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 14px 0 15px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 250px;
  padding: 0;
}

.nav__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav__link-main {
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #e59205;
  text-transform: capitalize;
}

/* --- Burger menu --- */

.burger__button-wrapper {
  width: 25px;
  height: 23px;
  cursor: pointer;
  display: none;
}

.burger__button {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  z-index: 5;
}

.burger__button::before {
  content: '';
  width: 15px;
  height: 2.5px;
  top: -8px;
  left: 0;
  background-color: #fff;
  border-radius: 3px;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.burger__button::after {
  content: '';
  width: 15px;
  height: 2.5px;
  top: 8px;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

/* --- Burger turn to X --- */

.burger__button.active {
  background-color: transparent;
}

.burger__button.active::before {
  transform: rotate(45deg);
  top: 0;
  width: 25px;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
}

.burger__button.active::after {
  transform: rotate(135deg);
  top: 0;
  width: 25px;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
}

/* --- Mobile navigation --- */

.header__mobile-nav {
  display: block;
  position: absolute;
  top: -1000px;
  right: 0;
  width: 100%;
  background-color: rgba(17, 16, 16, 0.98);
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
}
.header__mobile-nav--active {
  transform: translateY(1000px);
}

.mobile-nav__list {
  padding: 40px 0 0 30px;
}

.mobile-nav__item {
  list-style: none;
  margin-bottom: 20px;
}

.mobile-nav__list:first-child {
  margin-bottom: 30px;
}

.mobile-nav__item:last-child {
  margin-bottom: 70vh;
}

.mobile-nav__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  max-width: 95%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.header__title {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 180px auto 30px;
  max-width: 800px;
}

.header__title span {
  color: #e59205;
}

.header__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 800px;
}

.btn {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 15px 40px;
  display: block;
  cursor: pointer;
}

.header__btn {
  margin: 50px auto 0;
}

/* CATALOG */

.catalog__title-wrapper {
  text-align: center;
  padding-top: 100px;
}

.catalog__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #6e7498;
  position: relative;
  margin: 0;
  display: inline;
}

.catalog__title::before {
  content: '';
  height: 2px;
  width: 245px;
  top: 64%;
  left: -280px;
  transform: translateY(-50%);
  background-color: #e59205;
  position: absolute;
}

.catalog__title::after {
  content: '';
  height: 2px;
  width: 245px;
  top: 64%;
  right: -280px;
  background-color: #e59205;
  position: absolute;
}

.catalog__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #a4a8bc;
  max-width: 850px;
  margin: 50px auto;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
}

.left__btn {
  width: 205px;
  color: #a4a8bc;
  border: 1px solid #a4a8bc;
  padding: 15px;
}

.center__btn {
  width: 205px;
  color: #fff;
  background-color: #e59205;
  border: none;
  margin: 0 60px;
  padding: 15px;
}

.right__btn {
  width: 205px;
  color: #a4a8bc;
  border: 1px solid #a4a8bc;
  padding: 15px;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}

.catalog__item-main {
  padding-top: 100px;
}

.catalog__item-img {
  max-width: 100%;
  display: block;
}

.catalog__item-btn {
  font-size: 24px;
  width: 210px;
  text-align: center;
  color: #a4a8bc;
  border: 1px solid #a4a8bc;
  padding: 10px;
}

.order-now__btn {
  width: 250px;
  margin-bottom: 150px;
}

.catalog__item-cost {
  font-family: 'Playfair Display', serif;
  font-size: 72px;
  font-weight: 700;
  font-style: italic;
  color: #e59205;
}

.catalog__item-text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #6e7498;
  margin: 0 0 25px;
}

/* GALLERY */

.gallery {
  max-width: 2000px;
  margin: 0 auto;
}

.gallery__wrapper {
  display: flex;
}

.gallery__left {
  width: 33.5%;
  background-color: #e59205;
  padding: 0 15px;
  text-decoration: none;
}

.gallery__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 170px;
}

.gallery__right {
  width: 66.5%;
}

.gallery__img {
  max-width: 100%;
  display: block;
}

/* MENU */

.menu__title-wrapper {
  text-align: center;
  padding-top: 100px;
}

.menu__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #6e7498;
  position: relative;
  margin: 0;
  display: inline;
}

.menu__title::before {
  content: '';
  height: 2px;
  width: 245px;
  top: 64%;
  left: -280px;
  transform: translateY(-50%);
  background-color: #e59205;
  position: absolute;
}

.menu__title::after {
  content: '';
  height: 2px;
  width: 245px;
  top: 64%;
  right: -280px;
  background-color: #e59205;
  position: absolute;
}

.menu__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #a4a8bc;
  max-width: 850px;
  margin: 50px auto;
}

.menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 25px;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33.3%;
}

.menu__item-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #6e7498;
  margin: 20px 0 20px;
}

.menu__item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  color: #a4a8bc;
  margin: 0;
  max-width: 350px;
}

.menu__item-btn {
  font-size: 24px;
  width: 210px;
  text-align: center;
  color: #a4a8bc;
  border: 1px solid #a4a8bc;
  padding: 10px;
  margin: 20px 0 100px;
}

/* SUBSCRIBE */

.subscribe {
  max-width: 2000px;
  margin: 0 auto;
  background: url(../images/subscribe/bg.png);
}

.subscribe__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fff;
  padding-top: 100px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__input {
  height: 65px;
  width: 690px;
  max-width: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.subscribe__btn {
  width: 250px;
  color: #fff;
  background-color: #e59205;
  border: none;
  margin: 50px 0 150px;
  padding: 15px;
}
